<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center p-5">
      <div class="col-md-6">
        <div class="card p-4  ">
          <div class="tab-header d-flex border-bottom">
            <h4 class="col-md-6 text-center" routerLink="userlogin" routerLinkActive="active">Sign in</h4>
            <h4 class="col-md-6 text-center" routerLink="register" routerLinkActive="active">Register</h4>
          </div>
          <div class="tab-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>