<div class="tournment-footer">

    <div class=" container-fluid margin-top footer-top">
        <div class="container parent-container">
            <div class="container parent-container no-padding-left d-flex">
                <div class="col-sm-3 col-xs-12">
                    <ul class="p-0">
                        <li>
                            <a href="https://roommates.jhalak.com">Rommates
                                and Sharings </a><i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://travels.jhalak.com">Tours and Travels</a> <i class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://transport.jhalak.com">Transport Services</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://flipflop.jhalak.com">Flip-Flop</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://business.jhalak.com">Business Opportunities</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://fitness.jhalak.com">Beauty and Fitness</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://shopping.jhalak.com">Stores
                                and Malls</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://attorney.jhalak.com">Legal and Immigration Services</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>

                        <li>
                            <a href="https://domestic.jhalak.com">Domestic Services</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>

                        <li>
                            <a href="https://trainings.jhalak.com">Trainings</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://eatstreet.jhalak.com">EatStreet</a> <i class="fa fa-angle-right"></i>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-3 col-xs-12 footer-bottom">
                    <ul class="p-0">


                        <li>
                            <a href="https://automobile.jhalak.com">Automibiles</a> <i class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://services.jhalak.com">Business
                                Services</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://rituals.jhalak.com">Ritual Services</a> <i class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://repairs.jhalak.com">Repairs</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://communities.jhalak.com">Communities</a> <i class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://investandinsure.jhalak.com">Invest
                                and insure</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://healthcare.jhalak.com">Health Care and Doctors</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://taxservices.jhalak.com">CPA and Tax Services</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://party.jhalak.com ">Party Services</a> <i class="fa fa-angle-right">
                            </i>
                        </li>
                        <li>
                            <a href="https://astrology.jhalak.com">Astrology Services</a> <i
                                class="fa fa-angle-right">
                            </i>
                        </li>
                        <li><a href="https://pets.jhalak.com">Pet Services</a> <i class="fa fa-angle-right"></i>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <ul class="p-0">
                        <li>
                            <a href="https://tournaments.jhalak.com">Tournaments</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://cricket.jhalak.com">Cricket</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="https://volleyball.jhalak.com">Volleyball</a> <i class="fa fa-angle-right">
                            </i></li>
                        <li><a href="https://tennis.jhalak.com">Tennis</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="https://badminton.jhalak.com">Badminton</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="https://pingpong.jhalak.com">PingPong</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="https://chess.jhalak.com">Chess</a> <i class="fa fa-angle-right"></i></li>
                        <li><a href="https://carrom.jhalak.com">Carroms</a> <i class="fa fa-angle-right"></i>
                        </li>

                        <li><a href="https://realestate.jhalak.com/">Realestate</a> <i class="fa fa-angle-right">
                            </i></li>
                        <li><a href="https://jobs.jhalak.com/">Jobs</a> <i class="fa fa-angle-right"></i></li>

                        <li>
                            <a href="https://entertainment.jhalak.com">Entertainment</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-3 col-xs-12">
                    <ul class="p-0">
                        <li><a href="indian-classifieds.aspx">About Us</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="mailto:feedback@jhalak.com" target="_blank">Feedback</a> <i
                                class="fa fa-angle-right">
                            </i></li>
                        <li><a href="https://coupons.jhalak.com">Coupons</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="Privacy-Policy.aspx">Privacy Policy</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="Terms-Of-Use.aspx">Terms
                                of Use</a> <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="mailto:advertise@jhalak.com" target="_blank">Advertise With Us</a> <i
                                class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="mailto:support@jhalak.com" target="_blank">Contact Us</a> <i
                                class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <p>678-712-7777&nbsp;<i class="fa fa-angle-right"></i> </p> 
                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile footer -->

    <div class="footer-top-collapse">
        <div class="container-lg">

            <button type="button" class="accordionftr">Section-1</button>
            <div class="accordionftr-content">
                <ul class="ps-3">
                    <li><a href="https://roommates.jhalak.com/">Rommates and Sharings</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://travels.jhalak.com/">Tours and Travels</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://transport.jhalak.com/">Transport Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://flipflop.jhalak.com/">Flip-Flop</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://business.jhalak.com/">Business Opprtunities</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://fitness.jhalak.com/">Beauty and Fitness</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://shopping.jhalak.com/">Stores and Malls</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://attorney.jhalak.com/">Legal and Immigration Services </a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://domestic.jhalak.com/">Domestic Services </a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://trainings.jhalak.com/">Trainings </a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://eatstreet.jhalak.com/">Eatstreet </a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                </ul>
            </div>

            <button type="button" class="accordionftr">Section-2</button>
            <div class="accordionftr-content">
                <ul class="ps-3">
                    <li><a href="https://roommates.jhalak.com/">Automibiles</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://travels.jhalak.com/">Business Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://transport.jhalak.com/">Ritual Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://flipflop.jhalak.com/">Repairs</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://business.jhalak.com/">Communities</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://fitness.jhalak.com/">Invest and Insure</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://shopping.jhalak.com/">Health Care and Doctors</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://attorney.jhalak.com/">CPA and tax Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://domestic.jhalak.com/">Party Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://trainings.jhalak.com/">Astrology Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://eatstreet.jhalak.com/">Pet Services</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                </ul>
            </div>

            <button type="button" class="accordionftr">Section-3</button>
            <div class="accordionftr-content">
                <ul class="ps-3">
                    <li><a href="https://tournaments.jhalak.com/">Tournaments</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://cricket.jhalak.com/">Cricket</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://volleyball.jhalak.com/">Volleyball</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://tennis.jhalak.com/">Tennis</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://badminton.jhalak.com/">Badminton</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://pingpong.jhalak.com/">PingPong</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://chess.jhalak.com/">Chess</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://carroms.jhalak.com/">Carrom</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://realestate.jhalak.com/">Realestate</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://jobs.jhalak.com/">Jobs</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://entertainment.jhalak.com/">Entertainment</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                </ul>
            </div>
            <button type="button" class="accordionftr">Section-4</button>
            <div class="accordionftr-content">
                <ul class="ps-3">
                    <li><a href="indian-classifieds.aspx">About Us</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="mailto:feedback@jhalak.com">Feedback</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="https://coupons.jhalak.com">Coupons</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="Privacy-Policy.aspx">Privacy Policy</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="Terms-Of-Use.aspx">Terms of Use</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="mailto:advertise@jhalak.com">Advertise With Us</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li><a href="mailto:support@jhalak.com">Contact Us</a>&nbsp;&nbsp<i
                            class="fa-solid fa-angle-right"></i></li>
                    <li>678-712-7777&nbsp;&nbsp<i class="fa-solid fa-angle-right"></i></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- mobile footer end -->

    <div class="jhk-cpy">
        <div class="container-lg">
            <div class="container-lg pad-none-btm">
                <div class="cpy-ryt">
                    © 2018 Copyright Jhalak.com | All Rights Reserved.
                </div>
                <div class=" soc-icon">

                    <ul>
                        <li class="fb">
                            <a href="https://www.facebook.com/Jhalakcom-428270054025360/" target="_blank"><i
                                    class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </li>
                        <li class="tw">
                            <a href="https://twitter.com/JhalakPortal" target="_blank"><i
                                    class="fab fa-twitter fa-2x">
                                </i>
                            </a>
                        </li>
                        <li class="Gp">
                            <a href="https://plus.google.com/+JhalakcomCumming" target="_blank"><i
                                    class="fab fa-google-plus-g fa-2x">
                                </i>
                            </a>
                        </li>
                        <li class="yt">
                            <a href="https://www.youtube.com/channel/UCDk6DhXKMR6gje_jJnuPy0A" target="_blank"><i
                                    class="fab fa-youtube fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
