<nav class="navbar navbar-expand-lg bg-light py-3">
    <div class="container-lg">
        <div class="lhs-nav">
            <a class="navbar-brand" href="#"><img src="../../../assets/logo/new-jhalak-logo-3.jpg" alt="" width="70"></a>
            <div class="accordion-location ms-4">
                <i class="fas fa-map-marker-alt"></i>
            </div>
        </div>
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  m-md-0 m-sm-0 mob-mr-lft">


                <li class="nav-item dropdown py-2">
                    <a class="nav-link " routerLink="home" id="home" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Home&nbsp;&nbsp;<i class="fas fa-angle-down pink-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu p-lg-2 p-md-0" aria-labelledby="home">
                        <div class="inner-dropdown d-lg-inline-flex">
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://www.jhalak.com/news">News & Entertainment</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://events.jhalak.com/">Events & Ticketing</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://trainings.jhalak.com/">IT & Non IT Training</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://business.jhalak.com/">Business Opportunities</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://fitness.jhalak.com/">Beauty & Fitness</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://eatstreet.jhalak.com/">Eat Street</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://attorney.jhalak.com/">Attorney & Immigration</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://shopping.jhalak.com/">Stores & Malls</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://communities.jhalak.com/">Communities</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://investandinsure.jhalak.com/">Investments & Insurance</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://automobile.jhalak.com/">Auto Mibile</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://pets.jhalak.com/">Pets</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://jobs.jhalak.com/">Jobs</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://flipflop.jhalak.com/">Buy & Sell</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://taxservices.jhalak.com/">CPA & Tax Services</a></li>
                            </ul>

                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown py-2 ">
                    <a class="nav-link" href="#" id="services" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services&nbsp;&nbsp;<i class="fas fa-angle-down pink-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu p-lg-2 p-md-0" aria-labelledby="services">
                        <div class="inner-dropdown d-lg-inline-flex d-md-block">
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://www.jhalak.com/news">Transport Services</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://events.jhalak.com/">Rituals Services</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://trainings.jhalak.com/">Party Services</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://fitness.jhalak.com/">Business Services</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://eatstreet.jhalak.com/">Astrology Services</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://attorney.jhalak.com/">Tours & Travels</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://communities.jhalak.com/">Roommates</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://investandinsure.jhalak.com/">Domestic Services</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://automobile.jhalak.com/">Realestate</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://jobs.jhalak.com/">Healthcare and Doctors</a></li>
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://flipflop.jhalak.com/">Repairs</a></li>
                            </ul>

                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown py-2 ">
                    <a class="nav-link" href="#" id="tournaments" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tournaments&nbsp;&nbsp;<i class="fas fa-angle-down pink-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu p-lg-2 p-md-0" aria-labelledby="tournaments">
                        <div class="inner-dropdown d-lg-inline-flex d-md-block">
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://www.jhalak.com/news">Cricket</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://fitness.jhalak.com/">Volleyball</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://communities.jhalak.com/">Badminton</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://jobs.jhalak.com/">Chess</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://jobs.jhalak.com/">Ping Pong</a></li>
                            </ul>
                            <ul class="p-0 p-md-0 ms-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://jobs.jhalak.com/">Carrom</a></li>
                            </ul>
                        </div>
                    </ul>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link active" aria-current="page" href="#">Movie Showtimes & Tickets</a>
                </li>

                <li class="nav-item dropdown py-2 ">
                    <a class="nav-link" href="#" id="tournaments" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Languages&nbsp;&nbsp;<i class="fas fa-angle-down pink-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="tournaments">
                        <div class="inner-dropdown  d-md-inline-flex">
                            <ul class="p-0">
                                <li class="list-group-item"><a class="dropdown-item"
                                        href="https://www.jhalak.com/news"><span class="iconify"
                                            data-icon="flagpack:in"></span></a></li>
                            </ul>
                            <ul class="p-0">
                                <li class="list-group-item"><a class="dropdown-item languages-dropdown"
                                        href="https://fitness.jhalak.com/"><span class="iconify"
                                            data-icon="flagpack:us"></span></a></li>
                            </ul>
                        </div>
                    </ul>


                </li>

            </ul>

            <div class="three-btns">
                <div class="btns postad me-2">
                    <a href="">Post Ad</a>
                </div>
                <div class="btns register me-2">
                    <a routerLink="register">Register</a>
                </div>
                <div class="btns login">
                    <a  routerLink="login">Login</a>
                </div>
            </div>

        </div>

    </div>
</nav>
