<div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="name">Name</label>
                    <input type="text" class="form-control form-control-sm" id="name" name="name" formControlName="name"
                        placeholder="Enter name"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].invalid">
                        <div
                            *ngIf="registerForm.controls['name'].errors && registerForm.controls['name'].hasError('required')">
                            <span class="error-msg ">name is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="email">Email</label>
                    <input type="email" class="form-control form-control-sm" id="email" name="email"
                        formControlName="email" placeholder="Enter Your Email"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
                        <div
                            *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].hasError('required')">
                            <span class="error-msg ">Email is required</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="password">Password</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password"
                        formControlName="password" placeholder="Enter password"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">
                        <div
                            *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].hasError('required')">
                            <span class="error-msg ">password is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="cpassword">Confirm
                        Password</label>
                    <input type="password" class="form-control form-control-sm" id="cpassword" name="cpassword"
                        formControlName="cpassword" placeholder="Enter cpassword"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div
                        *ngIf="registerForm.controls['cpassword'].touched && registerForm.controls['cpassword'].invalid">
                        <div
                            *ngIf="registerForm.controls['cpassword'].errors && registerForm.controls['cpassword'].hasError('required')">
                            <span class="error-msg ">cpassword is required</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="city">City</label>
                    <input type="text" class="form-control form-control-sm" id="city" city="city" formControlcity="city"
                        placeholder="Enter City"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div *ngIf="registerForm.controls['city'].touched && registerForm.controls['city'].invalid">
                        <div
                            *ngIf="registerForm.controls['city'].errors && registerForm.controls['city'].hasError('required')">
                            <span class="error-msg ">City is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="contact">Contact</label>
                    <input type="text" class="form-control form-control-sm" id="contact" contact="contact"
                        formControlcontact="contact" placeholder="Enter Contact"
                        oninput="javascript: if (this.value.length >= this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="16">
                    <div *ngIf="registerForm.controls['contact'].touched && registerForm.controls['contact'].invalid">
                        <div
                            *ngIf="registerForm.controls['contact'].errors && registerForm.controls['contact'].hasError('required')">
                            <span class="error-msg ">Contact is required</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
          
            <div class="col-md-12 d-flex justify-content-center my-3">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        I agree to <a>User Agreement</a>,<a>Terms of Service</a> and <a>Privacy Policy</a>
                    </label>
                </div>

            </div>
            <div class="col-md-12 d-flex justify-content-between ">
                <button type="submit" class="btn jhk-bg-primary  col-5">Create Account</button>
                <button type="reset" class="btn jhk-bg-secondary  col-5">Cancel</button>
            </div>
        </div>

    </form>
</div>